---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
	border-radius: 0 !important;
	max-width: initial !important;
}

.social-icons {
	.fa-podcast {
		color: #8c3fc5;
	}
	.fa-spotify {
		color: #68d36e;
	}
	.fa-broadcast-tower {
		color: #eb8435;
	}
	.fa-google {
		color: #d75040;
	}
	.fa-anchor {
		color: #7f4af1;
	}
	.do-not-show {
		display: none;
	}
}

.subscribe-page {
	i {
		padding-right: 1em;
		width: 2em;
	}

}

@media (min-width: 64em) { .sidebar {
	opacity: 100% !important;
}
}